<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>play ground</title>
    <style>
      h1 {
        text-align: center;
      }
      .continaor {
        display: flex;
        justify-content: space-around;
        align-items: center;
      }
      .box {
        background-color: var(--background-color);
        width: 80px;
        height: 80px;
      }
    </style>
  </head>
  <body>
    <h1>welcome!!</h1>
    <div class="continaor">
      {%for number in range(_num):%}
      <div class="box" style="--background-color: {{color}}"></div>
      {%endfor%}
    </div>
  </body>
</html>
